<a href="https://colab.research.google.com/github/hruthiksiva/KaggleComp-IIIT-Delhi/blob/main/kaggle_iiit_round2-v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Imports**

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report,accuracy_score

In [4]:
!ls
train= pd.read_csv('train.csv')
test= pd.read_csv('test.csv')
sub= pd.read_csv('submission_format.csv')

submission_format.csv  test.csv  train.csv

# **Visualize Data**

In [5]:
train.head()

           id                                            content        type
0  1694628490  @avataraang awww ) where'd you get that? hugh ...    surprise
1  1751142947  @mistressmia Their is no such thing as TRANSPA...  enthusiasm
2  1695004607  @Dojie wouldn't that cost quite a bit, I mean ...         fun
3  1752918270  Eminem's new song &quot;Beautiful&quot; is ama...    surprise
4  1751176554  @AmyriadfthINGs Yeah, I've never seen that! Bu...    surprise

In [8]:
train.columns

Index(['id', 'content', 'type'], dtype='object')

In [9]:
test.head()

           id                                            content
0  1965378068  Dammit i just locked the keys in the car! had ...
1  1752444490  @xAnitaLx I'll do anything you like!!!!! Just ...
2  1753905153  going to watch boy in the striped pj's hope i ...
3  1752962276                               It's Just So Audioo.
4  1752619727                        @JamesProps very cute kitty

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       30000 non-null  int64
 1   content  30000 non-null  object
 2   type     30000 non-null  object
dtypes: int64(1), object(2)
memory usage: 703.2+ KB

# **Train and Test Data**

# **Model Selection**

## **Model1**

# **Score Check**

# **Submit File Creator**