<a href="https://colab.research.google.com/github/hruthiksiva/KaggleComp-IIIT-Delhi/blob/main/kaggle_iiit_round1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report,accuracy_score
import matplotlib.pyplot as plt

In [ ]:
!ls
train=pd.read_csv('Train_data_players.csv')
test=pd.read_csv('Test_data_player.csv')
sub=pd.read_csv('example_submission.csv')

example_submission.csv	Test_data_player.csv
Terminators.csv		Train_data_players.csv

# **Visualize Data**

In [ ]:
train.head()

   player ID Batting Avg.  Strike rate  ... Catch percentage  Region  Not selected
0     246048            1            4  ...                6    RGB7             0
1     387987            1            2  ...                9   RGB10             1
2     788442            3            4  ...                7    RGB6             0
3     465918            0            5  ...                6    RGB8             0
4     295804            0            5  ...                5    RGB1             0

[5 rows x 20 columns]

In [ ]:
enc=OrdinalEncoder()
enc.fit(train[['Region']])

OrdinalEncoder(categories='auto', dtype=<class 'numpy.float64'>)

# **Arena**

In [ ]:
train.columns

Index(['player ID', 'Batting Avg.', 'Strike rate', 'L/R Handed Batsman',
       'Wicket keeping', 'economy', 'avg speed', 'fitness index', 'Sixes',
       'fours', 'Fast bowling', 'Leg Spin', 'Off Spin', 'against fast bowl',
       'against leg spin', 'against off spin', 'Fanbase', 'Catch percentage',
       'Region', 'Not selected'],
      dtype='object')

In [ ]:
test.head()

   player ID  Batting Avg.  Strike rate  ... Fanbase  Catch percentage  Region
0     943412             0            5  ...      10                 6    RGB6
1     891010             0            5  ...       5                 5   RGB10
2     232982             2            3  ...       9                 5    RGB7
3     762647             3            4  ...       7                 7    RGB6
4     882052             6            4  ...       8                 6    RGB3

[5 rows x 19 columns]

In [ ]:
train=train.infer_objects()

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   player ID           195 non-null    int64
 1   Batting Avg.        195 non-null    object
 2   Strike rate         195 non-null    int64
 3   L/R Handed Batsman  195 non-null    object
 4   Wicket keeping      195 non-null    int64
 5   economy             195 non-null    int64
 6   avg speed           195 non-null    int64
 7   fitness index       195 non-null    int64
 8   Sixes               195 non-null    int64
 9   fours               195 non-null    int64
 10  Fast bowling        195 non-null    int64
 11  Leg Spin            195 non-null    int64
 12  Off Spin            195 non-null    int64
 13  against fast bowl   195 non-null    int64
 14  against leg spin    195 non-null    int64
 15  against off spin    195 non-null    int64
 16  Fanbase             195 non-null    int64
 17  Catch percentage    195 non-null    int64
 18  Region              195 non-null    object
 19  Not selected        195 non-null    int64
dtypes: int64(17), object(3)
memory usage: 30.6+ KB

In [ ]:
train['Not selected'].unique()

array([0, 1])

In [ ]:
train['L/R Handed Batsman'].unique()

array(['2', '1', '*', 'na'], dtype=object)

In [ ]:
train['Region']

0       RGB7
1      RGB10
2       RGB6
3       RGB8
4       RGB1
       ...
190     RGB3
191     RGB8
192     RGB6
193     RGB8
194     RGB3
Name: Region, Length: 195, dtype: object

In [ ]:
train[train['Not selected']==3]

Empty DataFrame
Columns: [player ID, Batting Avg., Strike rate, L/R Handed Batsman, Wicket keeping, economy, avg speed, fitness index, Sixes, fours, Fast bowling, Leg Spin, Off Spin, against fast bowl, against leg spin, against off spin, Fanbase, Catch percentage, Region, Not selected]
Index: []

In [ ]:
train[train['Not selected']==3]

Empty DataFrame
Columns: [player ID, Batting Avg., Strike rate, L/R Handed Batsman, Wicket keeping, economy, avg speed, fitness index, Sixes, fours, Fast bowling, Leg Spin, Off Spin, against fast bowl, against leg spin, against off spin, Fanbase, Catch percentage, Region, Not selected]
Index: []

In [ ]:
train.describe(include='all')

            player ID Batting Avg.  ...  Region Not selected
count      195.000000          195  ...     195   195.000000
unique            NaN            7  ...      10          NaN
top               NaN            1  ...    RGB8          NaN
freq              NaN           45  ...      25          NaN
mean    532440.825641          NaN  ...     NaN     0.148718
std     246776.419211          NaN  ...     NaN     0.356726
min     103045.000000          NaN  ...     NaN     0.000000
25%     336293.000000          NaN  ...     NaN     0.000000
50%     512274.000000          NaN  ...     NaN     0.000000
75%     732406.000000          NaN  ...     NaN     0.000000
max     980961.000000          NaN  ...     NaN     1.000000

[11 rows x 20 columns]

# **Train and Test Data**

In [ ]:
enc=OrdinalEncoder(dtype=np.int32)
train.Region = enc.fit_transform(train[['Region']])
test.Region = enc.transform(test[['Region']])

In [ ]:
train=train[(train['Batting Avg.']!='na') & (train['L/R Handed Batsman']!='na')]
train.loc[train['L/R Handed Batsman']=='*','L/R Handed Batsman']=3
test.loc[test['L/R Handed Batsman']=='*','L/R Handed Batsman']=3

train=train.astype(np.int64)
test=test.astype(np.int64)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(train.drop(['player ID','Not selected'],axis=1),train['Not selected'], test_size=0.2, random_state=2020)

# **Models**

## **Model1(Logistic Regression)**

In [ ]:
LogisticRegression()

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
from sklearn.linear_model import LogisticRegression
#model=LogisticRegression()
model=LogisticRegression()#max_iter=100)
model.fit(X_train,Y_train)
fpr,tpr,thresholds = metrics.roc_curve(Y_test,model.predict(X_test),pos_label=1)
metrics.auc(fpr, tpr)

0.45588235294117646

## **Model2(Random Forest)**

In [ ]:
RandomForestClassifier()

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
#model=RandomForestClassifier()
model=RandomForestClassifier(n_estimators=100,criterion="entropy",max_depth=2)
model.fit(X_train,Y_train)
fpr,tpr,thresholds = metrics.roc_curve(Y_test,model.predict(X_test),pos_label=1)
metrics.auc(fpr, tpr)

0.5

## **Model3(XGBoost)**

In [ ]:
from xgboost import XGBClassifier
model = XGBClassifier()
#model = XGBClassifier(max_depth=3,subsample=1,n_estimators=100,learning_rate=0.2,min_child_weight=2,random_state=5,reg_alpha=0, reg_lambda=1) 
model.fit(X_train, Y_train) 
fpr,tpr,thresholds = metrics.roc_curve(Y_test,model.predict(X_test),pos_label=1)
metrics.auc(fpr, tpr)

0.5705882352941176

## **Model4(Gradient Boosting)**

In [ ]:

from sklearn.ensemble import GradientBoostingClassifier
#model = GradientBoostingClassifier()
model = GradientBoostingClassifier(max_depth=2,subsample=0.5,n_estimators=80,learning_rate=0.19,random_state=5)
model.fit(X_train,Y_train)
fpr,tpr,thresholds = metrics.roc_curve(Y_test,model.predict(X_test),pos_label=1)
metrics.auc(fpr, tpr)

0.5117647058823529

## **Model5(AdaBoosting)**

In [ ]:
DecisionTreeClassifier()

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
#bmodel = DecisionTreeClassifier()
bmodel = DecisionTreeClassifier(criterion="entropy",max_depth=4)
#AdaBoost = AdaBoostClassifier(base_estimator=bmodel)
AdaBoost = AdaBoostClassifier(base_estimator=bmodel,n_estimators=20,learning_rate=0.09)
fpr,tpr,thresholds = metrics.roc_curve(Y_test,model.predict(X_test),pos_label=1)
metrics.auc(fpr, tpr)

0.526470588235294

## **Model6(SVM)**

In [ ]:
from sklearn import svm
model=svm.SVC()
#model=svm.SVC(kernel='sigmoid',random_state=1)
model.fit(X_train,Y_train)
fpr,tpr,thresholds = metrics.roc_curve(Y_test,model.predict(X_test),pos_label=1)
metrics.auc(fpr, tpr)

0.5

## **Model7(KNN)**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
#model = KNeighborsClassifier()
model = KNeighborsClassifier(n_neighbors=8,algorithm='kd_tree',leaf_size=40,p=2)
model.fit(X_train,Y_train)
fpr,tpr,thresholds = metrics.roc_curve(Y_test,model.predict(X_test),pos_label=1)
metrics.auc(fpr, tpr)

0.5

## **Model8(DecisionTree)**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train,Y_train)
fpr,tpr,thresholds = metrics.roc_curve(Y_test,model.predict(X_test),pos_label=1)
metrics.auc(fpr, tpr)

0.4264705882352941

## **Model9(Ridge and lasso regression)**

In [ ]:
RidgeClassifier()

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)

In [ ]:
from sklearn.linear_model import RidgeClassifier
model=RidgeClassifier(alpha=0.01)
model.fit(X_train,Y_train)
fpr,tpr,thresholds = metrics.roc_curve(Y_test,model.predict(X_test),pos_label=1)
metrics.auc(fpr, tpr)

0.4852941176470588

In [ ]:
Lasso()

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [ ]:
from sklearn.linear_model import Lasso
model=Lasso(alpha=0.05)
model.fit(X_train,Y_train)
fpr,tpr,thresholds = metrics.roc_curve(Y_test,model.predict(X_test),pos_label=1)
metrics.auc(fpr, tpr)

0.6882352941176471

# **Score**

In [ ]:
fpr,tpr,thresholds = metrics.roc_curve(Y_test,model.predict(X_test),pos_label=1)
metrics.auc(fpr, tpr)
#print(classification_report(Y_test,model.predict(X_test)))
#pd.crosstab(Y_test,model.predict(X_test))

#print(classification_report(Y_train,model.predict(X_train)))
#pd.crosstab(Y_train,model.predict(X_train))

0.5705882352941176

# **Submit file creator**

In [ ]:
model.fit(train.drop(['player ID','Not selected'],axis=1),train['Not selected'])

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
y_pred=pd.Series(model.predict(test.drop(['player ID'],axis=1)),name='not selected')
result=pd.merge(test['player ID'],y_pred,right_index = True,left_index = True)
result.to_csv('Terminators.csv',index=False,header=['Player id','not selected'])

In [ ]:
result.head()

   player ID  not selected
0     943412             0
1     891010             0
2     232982             0
3     762647             0
4     882052             0

In [ ]:
sub.head()

   Player id  not selected
0     123958             0
1     562456             0
2     354686             1
3     639521             0
4     741543             1