<a href="https://colab.research.google.com/github/hruthiksiva/KaggleComp-IIIT-Delhi/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [177]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report,accuracy_score
import matplotlib.pyplot as plt

In [178]:
!ls
train=pd.read_csv('Train_data_players.csv')
test=pd.read_csv('Test_data_player.csv')
sub=pd.read_csv('example_submission.csv')

example_submission.csv	Test_data_player.csv
Terminators.csv		Train_data_players.csv

# **Visualize Data**

In [179]:
train.head()

   player ID Batting Avg.  Strike rate  ... Catch percentage  Region  Not selected
0     246048            1            4  ...                6    RGB7             0
1     387987            1            2  ...                9   RGB10             1
2     788442            3            4  ...                7    RGB6             0
3     465918            0            5  ...                6    RGB8             0
4     295804            0            5  ...                5    RGB1             0

[5 rows x 20 columns]

In [180]:
enc=OrdinalEncoder()
enc.fit(train[['Region']])

OrdinalEncoder(categories='auto', dtype=<class 'numpy.float64'>)

# **Arena**

In [181]:
train.columns

Index(['player ID', 'Batting Avg.', 'Strike rate', 'L/R Handed Batsman',
       'Wicket keeping', 'economy', 'avg speed', 'fitness index', 'Sixes',
       'fours', 'Fast bowling', 'Leg Spin', 'Off Spin', 'against fast bowl',
       'against leg spin', 'against off spin', 'Fanbase', 'Catch percentage',
       'Region', 'Not selected'],
      dtype='object')

In [182]:
test.head()

   player ID  Batting Avg.  Strike rate  ... Fanbase  Catch percentage  Region
0     943412             0            5  ...      10                 6    RGB6
1     891010             0            5  ...       5                 5   RGB10
2     232982             2            3  ...       9                 5    RGB7
3     762647             3            4  ...       7                 7    RGB6
4     882052             6            4  ...       8                 6    RGB3

[5 rows x 19 columns]

In [183]:
train=train.infer_objects()

In [184]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   player ID           195 non-null    int64
 1   Batting Avg.        195 non-null    object
 2   Strike rate         195 non-null    int64
 3   L/R Handed Batsman  195 non-null    object
 4   Wicket keeping      195 non-null    int64
 5   economy             195 non-null    int64
 6   avg speed           195 non-null    int64
 7   fitness index       195 non-null    int64
 8   Sixes               195 non-null    int64
 9   fours               195 non-null    int64
 10  Fast bowling        195 non-null    int64
 11  Leg Spin            195 non-null    int64
 12  Off Spin            195 non-null    int64
 13  against fast bowl   195 non-null    int64
 14  against leg spin    195 non-null    int64
 15  against off spin    195 non-null    int64
 16  Fanbase             195 non-null    int64
 17  Catch percentage    195 non-null    int64
 18  Region              195 non-null    object
 19  Not selected        195 non-null    int64
dtypes: int64(17), object(3)
memory usage: 30.6+ KB

In [185]:
train['Not selected'].unique()

array([0, 1])

In [186]:
train['L/R Handed Batsman'].unique()

array(['2', '1', '*', 'na'], dtype=object)

In [187]:
train['Region']

0       RGB7
1      RGB10
2       RGB6
3       RGB8
4       RGB1
       ...
190     RGB3
191     RGB8
192     RGB6
193     RGB8
194     RGB3
Name: Region, Length: 195, dtype: object

In [188]:
train[train['Not selected']==3]

Empty DataFrame
Columns: [player ID, Batting Avg., Strike rate, L/R Handed Batsman, Wicket keeping, economy, avg speed, fitness index, Sixes, fours, Fast bowling, Leg Spin, Off Spin, against fast bowl, against leg spin, against off spin, Fanbase, Catch percentage, Region, Not selected]
Index: []

In [189]:
train[train['Not selected']==3]

Empty DataFrame
Columns: [player ID, Batting Avg., Strike rate, L/R Handed Batsman, Wicket keeping, economy, avg speed, fitness index, Sixes, fours, Fast bowling, Leg Spin, Off Spin, against fast bowl, against leg spin, against off spin, Fanbase, Catch percentage, Region, Not selected]
Index: []

In [190]:
train.describe(include='all')

            player ID Batting Avg.  ...  Region Not selected
count      195.000000          195  ...     195   195.000000
unique            NaN            7  ...      10          NaN
top               NaN            1  ...    RGB8          NaN
freq              NaN           45  ...      25          NaN
mean    532440.825641          NaN  ...     NaN     0.148718
std     246776.419211          NaN  ...     NaN     0.356726
min     103045.000000          NaN  ...     NaN     0.000000
25%     336293.000000          NaN  ...     NaN     0.000000
50%     512274.000000          NaN  ...     NaN     0.000000
75%     732406.000000          NaN  ...     NaN     0.000000
max     980961.000000          NaN  ...     NaN     1.000000

[11 rows x 20 columns]

# **Train and Test Data**

In [191]:
enc=OrdinalEncoder(dtype=np.int32)
train.Region = enc.fit_transform(train[['Region']])
test.Region = enc.transform(test[['Region']])

In [192]:
train=train[(train['Batting Avg.']!='na') & (train['L/R Handed Batsman']!='na')]
train.loc[train['L/R Handed Batsman']=='*','L/R Handed Batsman']=3
test.loc[test['L/R Handed Batsman']=='*','L/R Handed Batsman']=3

train=train.astype(np.int64)
test=test.astype(np.int64)

In [193]:
X_train, X_test, Y_train, Y_test = train_test_split(train.drop(['player ID','Not selected'],axis=1),train['Not selected'], test_size=0.2, random_state=2020)

# **Models**

## **Model1(Logistic Regression)**

In [ ]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,Y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## **Model2(Random Forest)**

In [134]:
RandomForestClassifier()

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [152]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=100,criterion="entropy",max_depth=2)
model.fit(X_train,Y_train)
print("Train Accuracy : ",accuracy_score(Y_train,model.predict(X_train)))
print("Test Accuracy : ",accuracy_score(Y_test,model.predict(X_test)))

Train Accuracy :  0.8571428571428571
Test Accuracy :  0.8717948717948718

## **Model3(XGBoost)**

In [89]:
from xgboost import XGBClassifier
model = XGBClassifier(max_depth=3,
                      subsample=1,
                      n_estimators=100,
                      learning_rate=0.2,
                      min_child_weight=2,
                      random_state=5,
                      reg_alpha=0,
                      reg_lambda=1) 
model.fit(X_train, Y_train) 
print("Train Accuracy : ",accuracy_score(Y_train,model.predict(X_train)))
print("Test Accuracy : ",accuracy_score(Y_test,model.predict(X_test)))

Train Accuracy :  0.9935064935064936
Test Accuracy :  0.7435897435897436

## **Model4(Gradient Boosting)**

In [ ]:
learning_rates = [1, 0.5, 0.25, 0.1,0.15, 0.05, 0.01,0.015]
train_results = []
test_results = []
for eta in learning_rates:
   model = GradientBoostingClassifier(learning_rate=eta)
   model.fit(X_train, Y_train)
   train_pred = model.predict(X_train)
   false_positive_rate, true_positive_rate, thresholds = roc_curve(_train, train_pred)
   roc_auc = auc(false_positive_rate, true_positive_rate)
   train_results.append(roc_auc)
   y_pred = model.predict(X_test)
   false_positive_rate, true_positive_rate, thresholds = roc_curve(Y_test, y_pred)
   roc_auc = auc(false_positive_rate, true_positive_rate)
   test_results.append(roc_auc)
from matplotlib.legend_handler import HandlerLine2D
line1, = plt.plot(learning_rates, train_results, b, label=Train AUC)
line2, = plt.plot(learning_rates, test_results, r, label=Test AUC)
plt.legend(handler_map={line1: HandlerLine2D(numpoints=2)})
plt.ylabel(AUC score)
plt.xlabel(learning rate)
plt.show()

NameError: ignored

In [105]:

from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier(max_depth=2,
                                   subsample=0.5,
                                   n_estimators=80,
                                   learning_rate=0.19,
                                   random_state=5)
model.fit(X_train,Y_train)
print("Train Accuracy : ",accuracy_score(Y_train,model.predict(X_train)))
print("Test Accuracy : ",accuracy_score(Y_test,model.predict(X_test)))

Train Accuracy :  1.0
Test Accuracy :  0.7435897435897436

## **Model5(AdaBoosting)**

In [ ]:
DecisionTreeClassifier()

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [166]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
bmodel = DecisionTreeClassifier(criterion="entropy",max_depth=3)
AdaBoost = AdaBoostClassifier(base_estimator=bmodel,n_estimators=20,learning_rate=0.09)
model=AdaBoost.fit(X_train,Y_train)
print("Train Accuracy : ",accuracy_score(Y_train,model.predict(X_train)))
print("Test Accuracy : ",accuracy_score(Y_test,model.predict(X_test)))

Train Accuracy :  1.0
Test Accuracy :  0.8461538461538461

## **Model6(SVM)**

In [211]:
from sklearn import svm
model=svm.SVC(kernel='sigmoid',random_state=1)
model.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='sigmoid',
    max_iter=-1, probability=False, random_state=1, shrinking=True, tol=0.001,
    verbose=False)

# **Score**

In [212]:
fpr,tpr,thresholds = metrics.roc_curve(Y_test,model.predict(X_test),pos_label=1)
metrics.auc(fpr, tpr)
#print(classification_report(Y_test,model.predict(X_test)))
#pd.crosstab(Y_test,model.predict(X_test))

#print(classification_report(Y_train,model.predict(X_train)))
#pd.crosstab(Y_train,model.predict(X_train))

0.5

# **Submit file creator**

In [203]:
model.fit(train.drop(['player ID','Not selected'],axis=1),train['Not selected'])

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=1, shrinking=True, tol=0.001,
    verbose=False)

In [204]:
y_pred=pd.Series(model.predict(test.drop(['player ID'],axis=1)),name='not selected')
result=pd.merge(test['player ID'],y_pred,right_index = True,left_index = True)
result.to_csv('Terminators.csv',index=False,header=['Player id','not selected'])

In [198]:
result.head()

   player ID  not selected
0     943412             0
1     891010             0
2     232982             0
3     762647             0
4     882052             0

In [199]:
sub.head()

   Player id  not selected
0     123958             0
1     562456             0
2     354686             1
3     639521             0
4     741543             1