<a href="https://colab.research.google.com/github/hruthiksiva/KaggleComp-IIIT-Delhi/blob/main/v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt

In [ ]:
!ls
train=pd.read_csv('Train_data_players.csv')
test=pd.read_csv('Test_data_player.csv')
sub=pd.read_csv('example_submission.csv')

example_submission.csv	Terminators.csv       Train_data_players.csv
Terminators		Test_data_player.csv

# **Visualize Data**

In [ ]:
train.head()

   player ID Batting Avg.  Strike rate  ... Catch percentage  Region  Not selected
0     246048            1            4  ...                6       7             0
1     387987            1            2  ...                9       1             1
2     788442            3            4  ...                7       6             0
3     465918            0            5  ...                6       8             0
4     295804            0            5  ...                5       0             0

[5 rows x 20 columns]

In [ ]:
enc=OrdinalEncoder()
enc.fit(train[['Region']])

OrdinalEncoder(categories='auto', dtype=<class 'numpy.float64'>)

# **Arena**

In [ ]:
train.columns

Index(['player ID', 'Batting Avg.', 'Strike rate', 'L/R Handed Batsman',
       'Wicket keeping', 'economy', 'avg speed', 'fitness index', 'Sixes',
       'fours', 'Fast bowling', 'Leg Spin', 'Off Spin', 'against fast bowl',
       'against leg spin', 'against off spin', 'Fanbase', 'Catch percentage',
       'Region', 'Not selected'],
      dtype='object')

In [ ]:
test.head()

   player ID  Batting Avg.  Strike rate  ... Fanbase  Catch percentage  Region
0     943412             0            5  ...      10                 6     6.0
1     891010             0            5  ...       5                 5     1.0
2     232982             2            3  ...       9                 5     7.0
3     762647             3            4  ...       7                 7     6.0
4     882052             6            4  ...       8                 6     3.0

[5 rows x 19 columns]

In [ ]:
train=train.infer_objects()

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193 entries, 0 to 194
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   player ID           193 non-null    int64
 1   Batting Avg.        193 non-null    object
 2   Strike rate         193 non-null    int64
 3   L/R Handed Batsman  193 non-null    object
 4   Wicket keeping      193 non-null    int64
 5   economy             193 non-null    int64
 6   avg speed           193 non-null    int64
 7   fitness index       193 non-null    int64
 8   Sixes               193 non-null    int64
 9   fours               193 non-null    int64
 10  Fast bowling        193 non-null    int64
 11  Leg Spin            193 non-null    int64
 12  Off Spin            193 non-null    int64
 13  against fast bowl   193 non-null    int64
 14  against leg spin    193 non-null    int64
 15  against off spin    193 non-null    int64
 16  Fanbase             193 non-null    int64
 17  Catch percentage    193 non-null    int64
 18  Region              193 non-null    float64
 19  Not selected        193 non-null    int64
dtypes: float64(1), int64(17), object(2)
memory usage: 31.7+ KB

In [ ]:
train['Not selected'].unique()

array([0, 1])

In [ ]:
train['L/R Handed Batsman'].unique()

array(['2', '1', -1, 3], dtype=object)

In [ ]:
train[train['Not selected']==3]

Empty DataFrame
Columns: [player ID, Batting Avg., Strike rate, L/R Handed Batsman, Wicket keeping, economy, avg speed, fitness index, Sixes, fours, Fast bowling, Leg Spin, Off Spin, against fast bowl, against leg spin, against off spin, Fanbase, Catch percentage, Region, Not selected]
Index: []

In [ ]:
train[train['Not selected']==3]

Empty DataFrame
Columns: [player ID, Batting Avg., Strike rate, L/R Handed Batsman, Wicket keeping, economy, avg speed, fitness index, Sixes, fours, Fast bowling, Leg Spin, Off Spin, against fast bowl, against leg spin, against off spin, Fanbase, Catch percentage, Region, Not selected]
Index: []

In [ ]:
train.describe(include='all')

            player ID Batting Avg.  ...  Region Not selected
count      195.000000          195  ...     195   195.000000
unique            NaN            7  ...      10          NaN
top               NaN            1  ...    RGB8          NaN
freq              NaN           45  ...      25          NaN
mean    532440.825641          NaN  ...     NaN     0.148718
std     246776.419211          NaN  ...     NaN     0.356726
min     103045.000000          NaN  ...     NaN     0.000000
25%     336293.000000          NaN  ...     NaN     0.000000
50%     512274.000000          NaN  ...     NaN     0.000000
75%     732406.000000          NaN  ...     NaN     0.000000
max     980961.000000          NaN  ...     NaN     1.000000

[11 rows x 20 columns]

# **Train and Test Data**

In [ ]:
enc=OrdinalEncoder(dtype=np.int32)
train.Region = enc.fit_transform(train[['Region']])
test.Region = enc.transform(test[['Region']])

In [ ]:
train=train[(train['Batting Avg.']!='na') & (train['L/R Handed Batsman']!='na')]
train.loc[train['L/R Handed Batsman']=='*','L/R Handed Batsman']=3
test.loc[test['L/R Handed Batsman']=='*','L/R Handed Batsman']=3
train=train.astype(np.int64)
test=test.astype(np.int64)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(train.drop(['player ID','Not selected'],axis=1),train['Not selected'], test_size=0.1, random_state=2020)

# **Models**

## **Model1(Logistic Regression)**

In [ ]:
model=LogisticRegression()
model.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## **Model2(Random Forest)**

In [ ]:
model=RandomForestClassifier()
model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

## **Model3(XGBoost)**

## **Model4(Gradient Boosting)**

# **Score**

In [ ]:
fpr,tpr,thresholds = metrics.roc_curve(y_test,model.predict(X_test),pos_label=1)
metrics.auc(fpr, tpr)

0.4722222222222222

# **Submit file creator**

In [ ]:
model.fit(train.drop(['player ID','Not selected'],axis=1),train['Not selected'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred=pd.Series(model.predict(test.drop(['player ID'],axis=1)),name='not selected')
result=pd.merge(test['player ID'],y_pred,right_index = True,left_index = True)
result.to_csv('Terminators.csv',index=False,header=['Player id','not selected'])

In [ ]:
result.head()

In [ ]:
sub.head()